$primary-color: #333;
$secondary-color: #dfc61e;
$background-color: #e6e6e6;
$font-color: #333;
$border-color: #ddd;
$table-bg: #f9f9f9;
$selected-cell: #ffe091d6;
$button-bg: #e6c81d;
$button-disabled: #e6e0e0;
$dark-color: #222;
$light-disabled: #ccc;
$table-header-bg: #f0d3b6;
$sticky-col-bg: #f4e5c3;
$basket-bg: #ffcc4c;
$header-color: #555;
